.element-tagging-container-wrap {
  width: 512px;
  height: 512px;
  margin: 0 auto;
  border: 1px solid black;
  background-image: url(../images/image.jpg);
  background-position: center;
  background-size: cover;

}

.element-tagging {
  margin-top: 20px;
  display: inline-block;
}

.element-tagging__text,
.element-tagging__close {
  background-color: rgba(34, 34, 34, 0.75);
  border-radius: 3px;
  padding: 8px;
  color: #ffffff;
  display: inline-block;
}

.element-tagging__close {
  display: none;
}

.element-tagging__open {
  .element-tagging__close {
    display: inline-block;
  }
}

